<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<div class="radio">
  				<label>
    				<input type="radio" name="optionsRadios" id="optionsRadios1" value="wadl" ng-model="option">
    				REST/WADL
  				</label>
			</div>
			<div class="panel panel-default" ng-show="option == 'wadl'">
				<div class="panel-body">
					<form class="form-horizontal" role="form">
		  				<div class="form-group">
		    				<label for="exampleInputFile" class="col-lg-2 control-label">File inputs</label>
		    				<div class="col-lg-10">
		    					<input type="file" ng-file-select="onRESTSelect($files)" onclick="this.value=null">
		    				</div>
		  				</div>
		  				<button type="submit" class="btn btn-default">Save</button>
					</form>
				</div>
			</div>
			<div class="radio">
  				<label>
    				<input type="radio" name="optionsRadios" id="optionsRadios2" value="wsdl" ng-model="option">
    				WS-*/WSDL
  				</label>
			</div>
			<div class="panel panel-default" ng-show="option == 'wsdl'">
				<div class="panel-body">
					<form class="form-horizontal" role="form">
		  				<div class="form-group">
		    				<label for="exampleInputFile" class="col-lg-2 control-label">File input</label>
		    				<div class="col-lg-10">
		    					<input type="file" ng-file-select="onSOAPSelect($files)" onclick="this.value=null">
		    				</div>
		  				</div>
		  				<button type="submit" class="btn btn-default">Save</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
