<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="node" class="col-sm-3 control-label">Node</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="node" ng-model="resource.id" disabled>
    </div>
  </div>
  <div class="form-group">
    <label for="path" class="col-sm-3 control-label">Path</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="path" ng-model="resource.relativeUri">
    </div>
  </div>
  <div class="form-group">
    <label for="expath" class="col-sm-3 control-label">Example Path</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="expath" ng-model="resource.examplePath">
    </div>
  </div>
  <div class="form-group">
    <label for="desc" class="col-sm-3 control-label">Description</label>
    <div class="col-sm-9">
      <textarea class="form-control" id="desc" rows="3" ng-model="resource.resourceDescription"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="keywors" class="col-sm-3 control-label">Keywords</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="keywords" ng-model="resource.resourceKeywords">
    </div>
  </div>
  <div class="form-group">
    <label for="ontoSearch" class="col-sm-3 control-label">Ontology Search</label>
    <div class="col-sm-9">
      <div class="input-group">
      	<span class="input-group-btn">
        	<button class="btn btn-default" type="button">
        		<span class="glyphicon glyphicon-search"></span>
        	</button>
      	</span>
  		<input type="text" class="form-control" id="ontoSearch">
	  </div>
    </div>
  </div>
  <div class="form-group">
    <label for="keywors" class="col-sm-3 control-label">Ontology</label>
    <div class="col-sm-9">
      <select class="form-control">
  		<option>Option 1</option>
  		<option>Option 2</option>
  		<option>Option 3</option>
  		<option>Option 4</option>
  		<option>Option 5</option>
	  </select>
    </div>
  </div>
  <div class="form-group">
    <label for="conceptSearch" class="col-sm-3 control-label">Concept Search</label>
    <div class="col-sm-9">
      <div class="input-group">
      	<span class="input-group-btn">
        	<button class="btn btn-default" type="button">
        		<span class="glyphicon glyphicon-search"></span>
        	</button>
      	</span>
  		<input type="text" class="form-control" id="conceptSearch">
	  </div>
    </div>
  </div>
  <div class="form-group">
    <label for="keywors" class="col-sm-3 control-label">Concept</label>
    <div class="col-sm-9">
      <select class="form-control">
  		<option>Option 1</option>
  		<option>Option 2</option>
  		<option>Option 3</option>
  		<option>Option 4</option>
  		<option>Option 5</option>
	  </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default" ng-click="save()">Save</button>
    </div>
  </div>
</form>