<div class="container">
	<div class="row">
		<div class="col-lg-4">
            <script type="text/ng-template" id="items_renderer.html">
                <div ui-tree-handle>
                    <a class="btn btn-success btn-xs" data-nodrag ng-click="play(this)"><span class="glyphicon" ng-class="{'glyphicon-plus': collapsed, 'glyphicon-minus': !collapsed}"></span></a>
                    <a ng-click="goto(item)" ng-href="#{{item.link}}" ng-class="{red : item.type == 'resourceparam' || item.type == 'queryparam'}">{{item.title}}</a>
                </div>
                <ol ui-tree-nodes="" ng-model="item.items" ng-class="{hidden: collapsed}">
                    <li ng-repeat="item in item.items" ui-tree-node data-collapsed="item.collapsed" ng-include="'items_renderer.html'"></li>
                </ol>
            </script>
			<div ui-tree data-drag-enabled="false" id="tree-root">
                <ol ui-tree-nodes ng-model="list" >
                    <li ng-repeat="item in list" ui-tree-node data-collapsed="item.collapsed" ng-include="'items_renderer.html'"></li>
                </ol>
            </div>
		</div>
		<div class="col-lg-8">
			<div ui-view></div>
		</div>
	</div>
</div>